<h2>Course Resources</h2>

          <li role="presentation" class="label-warning"><%= link_to "Create a  Course Resource", new_course_resource_path %></li>

          <li role="presentation" class="label-warning"><%= link_to "Edit a  Course Resource", edit_course_resource_path(1) %></li>
<hr>
<%= render "resource" %>
